#bannerMP {
    position: relative;
    width: 100%;
    height: 670px;
    background-color: #FFFEF8;
    overflow: hidden;
}

#bannerMP>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#bannerMP>img.active {
    opacity: 1;
}